/* 
   One-line style UI for Vivaldi mac
*/

:root {
    --space-from-left: 43.5em;
    /* Main toolbar space - adjust according to your buttonset */
}

#titlebar {
    height: 30px;
    display: flex;
    align-items: center;

}

#browser.mac .window-buttongroup {
    position: fixed;
    display: flex;
    align-items: center;
    margin: 0 1em 0 !important;

}

/*Set a fixed positionfor mac system window buttons*/


.button-toolbar {
    --popupWidth: 200px;
    --popupLeftOffset: 0px;
    display: flex;
    align-items: center;
    align-self: center;
    max-width: 30px;
    max-height: 30px;
    position: relative;

}

.toolbar-mainbar>.button-toolbar>button,
.toolbar-mainbar>.toolbar-group>.button-toolbar>button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 0 solid rgba(0, 0, 0, 0);
    border-radius: 0;
    min-width: 30px;
    color: var(--colorFg);
    padding: 0;
    height: 30px;
    border-style: unset;
}
#browser.mac.fullscreen.address-top .toolbar-addressbar{
    margin-left: 2px !important;
    /* Align to the left (corner) */
} 
.toolbar-addressbar {
    position: fixed !important;
    /* Set a fixed position for toolbar (before tabs) */
    top: 0 !important;
    /* Align it to the top edge */
    max-height: 30px;
    margin-left: 6em !important;
    /* Align to the left (corner) */
    z-index: 2 !important;
    /* Make sure autocomplete and overlays work */
}

.addressfield {
    height: 22px !important;
    width: 30em !important;
    /* Set a fixed width for address bar */
    position: relative;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    margin: 0 3px 0 2px !important;
    border: 1px solid var(--color-bg) !important;
    background-color: var(--colorBorderIntense) !important;
    padding: 0px;
    color: var(--colorFg);
}

.SiteInfoButton.secure,
.SiteInfoButton.certified {
    background-color: rgba(0, 0, 0, 0);
}

.searchfield {
    display: none
}

#tabs-container.top {
    padding-left: var(--space-from-left) !important;
    z-index: 2 !important;
    /* Make sure overlays work */
    padding-top: 0 !important;

}

#switch {
    contain: size;
    /* make extension popup visible on left pane */
}

#switch button.webviewbtn img,
.addwebpanel-wrapper button img,
.addwebpanel-wrapper button svg {
    background-color: transparent !important;
    width: 22px !important;
    height: 22px !important;
}

.toolbar-mainbar {
    background-color: var(--color-bg) !important;
    /* Remove a weird white line below the toolbar */
}

.toolbar-extensions {
    flex-direction: column;
    /* list extensions toolbar icons in vertical */ 
    background-color: var(--color-bg);
}
.toolbar-extensions.toolbar-extensions.toolbar-extensions .button-toolbar > button > img {
    width: 22px ;
    height: 22px ;
    background-color: transparent;
}
/* position extension popup */
.extension-popup {
    left: 34px !important;
    top: 15% !important;
    box-shadow: 0px 0px 10px 2px #00000075;
}

/* remove top arrow from extension popup */
.extension-popup:before, .extension-popup:after {
    display: none !important;
}

.address-top .toolbar-mainbar:after {
    display: none;
    /* Delete 1px line */
}

.OmniDropdown
{
    background: var(--colorBgAlpha);
    backdrop-filter: blur(10px);
}